<!DOCTYPE html>
<html>
<head>
  <title>All PO's</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap -->
  <link href="/style/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style/lavish-bootstrap.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <h1>You added a new Purchase Order!</h1>
    <h2>All Pending Purchase Orders:</h2>
    <% if @all_pending %>
      <% @all_pending.each do |po| %>
        <li><%= po.review %></li>
        <li>Current Status: <%= po.status %></li>
        <button><a href="/all_purchase_orders/<%= po.id %>"</button>
        <% end %>
      <% end %>
  </div>
</body>
</html>
